@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
  user-select: none
}

.header-section-active {
  color: #A56AB9;
}