@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  user-select: text;
}

html, body {
  scroll-behavior: smooth;
  user-select: none
}

body {
  overflow-x: hidden;
  /* back-to-back */
  /*background-color: #fdfcf4;*/
}

h1, h2, h3, h4, h5, h6,
p, span, a, strong, li {
  color: #061800;
  /* color: #384633; */
}

.header-section-active a {
  color: #A56AB9;
}

/*
.custom-home-bg {
  background-image: url(./assets/brownies.jpg);
}
*/

.custom-section-dividers {
  height: 1px;
  background: linear-gradient(
    270deg,
    rgb(165, 106, 185),
    rgba(234, 205, 244, 0.35)
  );
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}